<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;1,200;1,400&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
  
    <!-- color theme -->
    <link rel="stylesheet" class="theme" name="red"href="../public/styles/purpleTheme.css" disabled="disabled">
    <link rel="stylesheet" class="theme" name="green"href="../public/styles/greenTheme.css" disabled="disabled">
    <link rel="stylesheet" class="theme" name="light"href="../public/styles/reverseTheme.css" disabled="disabled">
    <link rel="stylesheet" class="theme" name="default"href="../public/styles/defaultTheme.css">
    
    <!-- body -->
    <link rel="stylesheet" href="../public/styles/portfolio.css">
    
    <title>Jaryl Portfolio</title>
</head>
<body>

    
    <div class="container">
        <div class="index">
            <img src="../imgs/sample.jpg" alt="">
            <h2>Enthusiast, Hobbyist, Self Taught Programmer</h2>
            <h3>
               <a href="https://www.facebook.com/jaryl.ZjeArr" target="_blank"><i class="fab fa-facebook-square"></i></a> 
               <a href="https://github.com/jarylolz12" target="_blank"> <i class="fab fa-github-square"></i></a>
               <a href="https://linkedin.com/in/jaryl-roy-alisaca-978a04120" target="_blank"><i class="fab fa-linkedin"></i></a> 
               <a href="mailto:jarylolz12@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a> 
            </h3>
            <div class="colorTheme">
                <button class="btnTheme" name="dark"> </button>
                <button class="btnTheme" name="light"> </button>
                <button class="btnTheme" name="green"> </button>
                <button class="btnTheme" name="purple"> </button>
            </div>
            <button id="btn">See More</button>
        </div>
    </div>

    <section class='tago'>

        <div class="wala">
            <h1 id="taas">H¡ Im <span>Jaryl</span></h1>
            <p>
                I am former OFW working in Middle East as a Document Controller.
                I am an IT Graduate from AMA Computer College. I do programming way back when I landed
                my first job as a Technical Support Programmer in DCTech Microservices Inc.
                I am a ReactJS (MERN) Stack Developer and I really like Javascript because it's very flexible
                in terms of frontend or backend works from showing/hiding css properties, adding dynamic HTML Elements, 
                interacting with database and so much more (to learn!). 
                I know that when I come back to IT field, web-development will be my first choice.
            </p>
                <div class="indexNextPg">  
                   <ul>
                        <li>
                            <h4><a href="#una">SKILLS</a></h4>
                        </li>
                        <li>
                            <h4><a href="#duha">EDUCATION</a></h4>
                        </li>
                        <li>
                           <h4><a href="#tulo">PROJECTS</a></h4>
                        </li>
                   </ul>
                    
                </div>
        </div>

        <div class="tuo">
            <div class="contents">
                <h1 id="una">Skills</h1>
                <h2>Development</h2>
                    <div class="skills">
                        <img class="imgSkills"src="../imgs/html.svg" alt="">
                        <img class="imgSkills"src="../imgs/css.svg" alt="">
                        <img class="imgSkills"src="../imgs/javascript.svg" alt="">
                        <img class="imgSkills"src="../imgs/react.svg" alt="">
                        <img class="imgSkills"src="../imgs/redux.svg" alt="">
                        <img class="imgSkills"src="../imgs/node.svg" alt="">
                        <img class="imgSkills"src="../imgs/mongodb.svg" alt="">
                        <img class="imgSkills"src="../imgs/express.svg" alt="">
                        <img class="imgSkills"src="../imgs/bootstrap.svg" alt="">
                        <img class="imgSkills"src="../imgs/php.svg" alt="">
                        <img class="imgSkills"src="../imgs/mysql.svg" alt="">
                        <img class="imgSkills"src="../imgs/git.svg" alt="">
                    </div>

                <h2>Design</h2>
                    <div class="skills">
                        <img class="imgSkills"src="../imgs/illustrator.svg" alt="">
                        <img class="imgSkills"src="../imgs/photoshop.svg" alt="">
                        <img class="imgSkills"src="../imgs/autocad.svg" alt="">
                    </div>
                    
            </div>    
                
            <div class="educ">
                <div class="contents">
                    <h1 id="duha">Education</h1>
                        <div class="gridMe">
                            <div class="primary">
                                <h2>Primary</h2>
                                <p>Davao City Special School</p>
                                <p>Bankal Davao City</p>
                            </div>

                            <div class="secondary">
                                <h2>Secondary</h2>
                                <p>Deeper Life Academy</p>
                                <p>Ma-a Road Davao City</p>
                            </div>

                            <div class="college">
                                <h2>College</h2>
                                <p>AMA Computer College Davao</p>
                                <p>123 Gen. Malvar Street Davao City</p>

                                <h2>Post Training</h2>
                                <p>The Filipino Academy AutoCAD 2D Basic</p>
                                <p>Khalidiya Road, Abu Dhabi</p>
                                <p>United Arab Emirates</p>
                            </div>
                            
                        </div>
                       
                </div>
                    
            </div>
            
               
             <div class="proj">
                 <div class="contents">
                    <h1 id="tulo">Projects <span>(Personal)</span></h1>
                    <a href="https://calm-everglades-15287.herokuapp.com/" target="blank">
                        <div class="projects">                    
                                <h3>Resto</h3>
                                <p>An app that can take orders and generate stub to avoid time queueing or taking in the line while staff updating incoming orders and menus.</p>

                                <ul>
                                    <li>ReactJS</li>
                                    <li>Redux</li>
                                    <li>NodeJS</li>
                                    <li>Express</li>
                                    <li>MongoDB</li>
                                    <li>Bootstrap 4</li>
                                </ul>                         
                        </div>
                    </a>

                    <a href="https://enigmatic-beyond-59058.herokuapp.com/" target="blank">
                        <div class="projects">
                            <h3>PH Camps</h3>
                            <p>An app where users can login, post and comment to the other user's post.</p>

                            <ul>
                                <li>Ejs</li>
                                <li>CSS</li>
                                <li>Bootstrap</li>
                                <li>Javascript</li>
                                <li>NodeJS</li>
                                <li>Bootstrap 4</li>
                                <li>Express</li>
                            </ul>
                        </div>
                    </a>

                    <a href="https://nameless-earth-32711.herokuapp.com/" target="blank">
                        <div class="projects">
                            <h3>Color Picker Game</h3>
                            <p>A game tests your color theory skills thru RGB.</p>

                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Javascript</li>
                            </ul>
                        </div>
                    </a>
                    <div class="bckToTop"><a href="#taas">Back to Top</a></div>
                    
                 </div>         
             </div> 

             <div class="bottom">
                <img src="../imgs/sample.jpg" alt="">
                <h5>
                <a href="https://www.facebook.com/jaryl.ZjeArr" target="_blank"><i class="fab fa-facebook-square"></i> Facebook</a> 
                <a href="https://github.com/jarylolz12" target="_blank"> <i class="fab fa-github-square"> Github</i></a>
                <a href="https://linkedin.com/in/jaryl-roy-alisaca-978a04120" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
                <a href="mailto:jarylolz12@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i> Email</a> 
                </h5>
            </div>  
        </div>
    </section>  
     
            

    
    
   

    <script src="../public/scripts/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>