@import 'mixins';
@import 'config';
* {
	margin: 0;
	padding: 0;
	transition: all 350ms;
}

body {
	background-color: $bg-color;
	font-family: 'Nunito Sans', sans-serif;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: $secondary;
}

a {
	text-decoration: none;
	color: $secondary;
	list-style: none;

	&:link {
		text-decoration: none;
		color: $secondary;
		list-style: none;
	}

	&:hover {
		text-decoration: none;
		color: $hover;
	}
}

ul {
	list-style: none;
	color: var(--primary);
}

img {
	width: 150px;
	height: 150px;
	border: 5px solid $primary;
	border-radius: 50%;
}

span {
	color: $primary;
}

.btn {
	@include button;
}

.standard {
	border: 1px solid $primary;
	color: $primary;
	padding: 10px;
	width: 6rem;

	&:hover {
		color: $hover;
		border: 1px solid $hover;
	}
}

section {
	display: none;
}

.transition {
	transition: all 350ms;
}

.show {
	opacity: 100%;
	animation: showMe 350ms;
	display: block;
}
@keyframes showMe {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.tago {
	opacity: 0%;
	animation: hideMe 350ms;
	display: none; /*pwede ni siya tanggalon mao ni magpa instant*/
}
@keyframes hideMe {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.h1s {
	font-weight: 600;
	font-size: 3em;
	margin: 30px 0;
}

.h2s {
	text-align: center;
	font-size: 2em;
	font-weight: 300;
}
