:root {
	--primary: #a6a6a6;
	--secondary: #35acff;
	--headers: #5177b2;
	--hover: #7fcbff;
	--border: 1px solid var(--secondary);
	--border-hover: 1px solid var(--hover);
	--leftRightBg: #212a2f;
	--leftRightBorderBg: #263036;
	--leftRightBgShdw: 3px 3px 10px #09141a;
	--overlay: rgba(33, 42, 47, 0.70);
}
