:root {
	--primary: #3e3e3e;
	--secondary: #84cd99;
	--headers: #ae884d;
	--hover: #eff7e5;
	--border: 1px solid var(--secondary);
	--border-hover: 1px solid var(--hover);
	--leftRightBg: #6f8e78;
	--leftRightBorderBg: #74957e;
	--leftRightBgShdw: 3px 3px 10px #f6ebe5;
	--overlay: rgba(111, 142, 120, 0.70);
}
