* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--leftRightBg);
	font-family: 'Nunito Sans', sans-serif;
	height: 100%;
	transition: background-color 300ms;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--primary);
	transition: color 200ms;
}

a {
	text-decoration: none;
	color: var(--secondary);
	list-style: none;
	transition: color 200ms;
}

a:link {
	text-decoration: none;
	color: var(--secondary);
	list-style: none;
}

a:hover {
	text-decoration: none;
	color: var(--hover);
}

button {
	background-color: transparent;
	color: var(--secondary);
	border: var(--border);
	padding: 10px;
	border-radius: 5px;
	transition: color 200ms, border 200ms;
}

button:hover {
	color: var(--hover);
	border: 1px solid var(--hover);
}

ul {
	list-style: none;
	color: var(--primary);
}

.container {
	width: 85%;
	padding: 0;
	text-align: center;
}

img {
	width: 150px;
	height: 150px;
	border: 5px solid var(--secondary);
	border-radius: 50%;
	transition: border 200ms;
}

span {
	color: var(--secondary);
}

p {
	color: var(--primary);
	font-size: 1.2em;
}

/* ------------------------------------------- */
.index {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.index h2 {
	font-weight: 600;
}

.index h3 {
	color: var(--secondary);
}

.index h3:nth-of-type(1) {
	color: var(--primary);
}

.index h2,
h3 {
	margin: 15px;
}

.index .colorTheme {
	margin-bottom: 22px;
}

.colorTheme button {
	border-radius: 15px;
	border: 1px solid whitesmoke;
}

.colorTheme button:nth-of-type(1) {
	background-color: #212a2f;
}

.colorTheme button:nth-of-type(2) {
	background-color: #efefef;
}

.colorTheme button:nth-of-type(3) {
	background-color: #6f8e78;
}

.colorTheme button:nth-of-type(4) {
	background-color: #b895dc;
}

.colorTheme button:hover {
	color: var(--hover);
	border: var(--border-hover);
}

/* Right Side */
section .tuo {
	width: 50%;
	float: right;
	background-color: var(--leftRightBg);
}

section .contents {
	padding: 7em 7em 7em 7em;
}

section .proj .contents {
	padding-bottom: 4em;
}

section .tuo h1 {
	font-weight: 900;
	font-size: 4em;
	margin-bottom: .5em;
}

section .tuo .skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 30px;
}

section .tuo .imgSkills {
	background-color: var(--leftRightBorderBg);
	width: 150px;
	height: 150px;
	border: 15px solid transparent;
	border-radius: 10px;
	margin: 1.5rem;
}

section .tuo .educ {
	z-index: 1;
}

.gridMe .primary {
	grid-area: primary;
}

.gridMe .secondary {
	grid-area: secondary;
}

.gridMe .college {
	grid-area: college;
}

.gridMe .college p:nth-of-type(2) {
	margin-bottom: 35px;
}

section .tuo .gridMe {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 'primary college' 'secondary college';
}

.gridMe > div {
	background-color: var(--leftRightBorderBg);
	padding: 2em;
	width: 100%;
	box-shadow: var(--leftRightBg);
}

section .tuo .gridMe h2 {
	font-weight: 600;
	margin-bottom: 20px;
}

section .tuo .proj {
	width: 100%;
}

section .tuo .proj h3 {
	margin: 0px 0px 20px 0px;
}

section .tuo .projects {
	padding: 2em;
	background-color: var(--leftRightBorderBg);
	margin-bottom: 20px;
	transition: transform 200ms;
}

section .tuo .projects p {
	font-size: 1.3em;
	margin: 25px 0 25px 0;
}

section .tuo .projects h3 {
	color: var(--secondary);
	transition: color 200ms;
	margin: 0;
}

section .tuo .projects:hover {
	transform: scale(1.1);
}

section .tuo .projects:hover h3 {
	color: var(--hover);
}

section .tuo .projects:nth-of-type(3) {
	margin-bottom: 0;
}

section .tuo .projects ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
}

section .projects li {
	margin-right: 11px;
	font-size: 1.2em;
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 3.5em;
}

.bottom img {
	width: 40px;
	height: 40px;
	border: none;
	margin-right: 1rem;
}

.bottom a {
	margin-right: 8px;
	font-size: 1.2em;
}

.bckToTop {
	display: none;
}

/* Left Side */

.indexNextPg {
	text-align: center;
	padding-top: 4.5em;
	width: 100%;
}

.indexNextPg ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 2em;
}

.indexNextPg ul li {
	border: 1px solid var(--leftRightBg);
	background-color: var(--leftRightBorderBg);
	transition: transform 200ms;
}

.indexNextPg ul li:hover {
	transform: scale(1.1);
}

.indexNextPg a {
	display: block;
	padding: 1em;
}

section .wala {
	background-color: var(--leftRightBg);
	display: block;
	position: fixed;
	height: 100vh;
	padding: 7em 7em 3em 7em;
	width: 50%;
}

section .wala h1 {
	font-weight: 900;
	font-size: 4em;
	margin-bottom: .5em;
}

section .wala span {
	color: var(--secondary);
}

.show {
	width: 100%;
	opacity: 100%;
	animation: showMe 1s;
}
@keyframes showMe {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.tago {
	opacity: 0%;
	animation: visibility 1s;
	display: none;
}
@keyframes visibility {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@media only screen and (max-width: 1450px) {
	/* Left Side */

	section .wala {
		display: block;
		position: fixed;
		height: 100vh;
		padding: 4em 4em 4em 4em;
		width: 50%;
		float: right;
	}

	section .wala h1 {
		font-weight: 900;
		font-size: 4em;
		margin-bottom: .5em;
	}

	section .wala span {
		color: var(--secondary);
	}

	section .contents {
		padding: 4em 4em 4em 4em;
	}

	/* Right */

	section .tuo .gridMe {
		grid-template-areas: 'primary' 'secondary' 'college';
	}
}

@media only screen and (max-width: 910px) {
	/* Left Side */

	section .wala {
		display: block;
		position: fixed;
		height: 100vh;
		padding: 4em 4em 4em 4em;
		width: 50%;
		float: right;
	}

	section .wala h1 {
		font-weight: 900;
		font-size: 4em;
		margin-bottom: .5em;
	}

	section .wala span {
		color: var(--secondary);
	}

	section .contents {
		padding: 4em 4em 4em 4em;
	}

	/* Right */

	section .tuo .gridMe {
		display: grid;
		grid-gap: 35px;
		grid-template-areas: 'primary' 'secondary' 'college';
	}

	section .tuo .imgSkills {
		width: 120px;
		height: 120px;
		border: 15px solid transparent;
		border-radius: 10px;
		margin: .5rem;
	}

	.gridMe > div {
		padding: 35px;
	}
}

@media only screen and (max-width: 750px) {
	section .tuo {
		width: 100%;
		display: block;
	}

	section .tuo .gridMe p {
		text-align: justify;
		text-justify: inter-word;
	}

	section .contents {
		padding: 4em 4em 4em 4em;
		text-align: center;
	}

	section .tuo .imgSkills {
		width: 120px;
		height: 120px;
		border: 15px solid transparent;
		border-radius: 10px;
		margin: 1rem;
	}

	section .tuo .gridMe h2 {
		text-align: start;
	}

	section .wala {
		display: block;
		position: static;
		height: 100%;
		padding: 4em 4em 4em 4em;
		width: 100%;
		margin-bottom: 0em;
	}

	section .wala p {
		font-size: 1.3em;
	}

	.proj .contents .projects h3,
	p {
		text-align: start;
	}
	.bckToTop {
		display: block;
	}
}

@media only screen and (max-width: 750px) {
	section .tuo {
		width: 100%;
		display: block;
	}

	section .tuo .gridMe p {
		text-align: justify;
		text-justify: inter-word;
	}

	section .contents {
		padding: 4em 4em 4em 4em;
		text-align: center;
	}

	section .tuo .imgSkills {
		width: 120px;
		height: 120px;
		border: 15px solid transparent;
		border-radius: 10px;
		margin: 1rem;
	}

	section .tuo .gridMe h2 {
		text-align: start;
	}

	section .wala {
		display: block;
		position: static;
		height: 100%;
		padding: 4em 4em 4em 4em;
		width: 100%;
		margin-bottom: 0em;
	}

	section .wala p {
		font-size: 1.3em;
	}

	.proj .contents .projects h3,
	p {
		text-align: start;
	}
	.bckToTop {
		display: block;
	}
}

@media only screen and (max-width: 450px) {
	.bottom {
		flex-direction: column;
	}

	.bottom img {
		margin-bottom: 1rem;
	}
}
