:root {
	--primary: #3e3e3e;
	--secondary: #35acff;
	--headers: #ae884d;
	--hover: #aab7b8;
	--border: 1px solid var(--secondary);
	--border-hover: 1px solid var(--hover);
	--leftRightBg: #efefef;
	--leftRightBorderBg: #e8e8e8;
	--leftRightBgShdw: 3px 3px 10px #f6ebe5;
	--overlay: rgba(239, 239, 239, 0.70);
}
